@import "tailwindcss";

@font-face {
	font-family: "Builder Sans";
	font-weight: 400;
	font-style: normal;
	src:
		url(https://cdn.foundation.roblox.com/current/fonts/builder-sans/BuilderSans-Regular.woff2)
		format("woff2"),
		url(https://cdn.foundation.roblox.com/current/fonts/builder-sans/BuilderSans-Regular.woff)
		format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Builder Sans";
	font-weight: 600;
	font-style: normal;
	src:
		url(https://cdn.foundation.roblox.com/current/fonts/builder-sans/BuilderSans-SemiBold.woff2)
		format("woff2"),
		url(https://cdn.foundation.roblox.com/current/fonts/builder-sans/BuilderSans-SemiBold.woff)
		format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Builder Sans";
	font-weight: 700;
	font-style: normal;
	src:
		url(https://cdn.foundation.roblox.com/current/fonts/builder-sans/BuilderSans-Bold.woff2)
		format("woff2"),
		url(https://cdn.foundation.roblox.com/current/fonts/builder-sans/BuilderSans-Bold.woff)
		format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Builder Mono";
	font-weight: 400;
	font-style: normal;
	src:
		url(https://cdn.foundation.roblox.com/current/fonts/builder-mono/BuilderMono-Regular.woff2)
		format("woff2"),
		url(https://cdn.foundation.roblox.com/current/fonts/builder-mono/BuilderMono-Regular.woff)
		format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Builder Extended";
	font-weight: 700;
	font-style: normal;
	src: url(https://cdn.foundation.roblox.com/current/fonts/builder-extended/BuilderExtended-Bold.woff2);
}

* {
	font-family: "Builder Sans", sans-serif;
}

body {
	/* background: rgb(17, 19, 22); */
	background: linear-gradient(rgb(17, 19, 22), rgba(8, 10, 13));
	color: white;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

.btn {
	@apply cursor-pointer transition-colors;
}

blockquote {
	@apply border-l-2 border-white/70 pl-2 italic text-white/70;
}

.fadein {
	animation: fadein 1s ease-out;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.floatin {
	animation:
		floatin 0.7s ease-in-out,
		fadein 1s ease-out;
}

@keyframes floatin {
	from {
		transform: translateY(10px);
	}
	to {
		transform: translateY(0);
	}
}

h1,
.badge {
	font-family: "Builder Extended", sans-serif;
}

h2 {
	@apply font-semibold text-xl;
}

h3 {
	@apply font-semibold text-lg;
}

h4 {
	@apply font-semibold text-base;
}

a:not(.btn) {
	@apply text-blue-400 hover:text-blue-300 transition-colors;
}

/* add number to li */
ol {
	counter-reset: li;
	& li {
		counter-increment: li;
		@apply pb-8;
		& > div {
			@apply pl-12;
		}
	}
	& li::before {
		font-family: "Builder Extended", sans-serif;
		font-size: 1.5rem;
		content: "Step " counter(li) "";
		display: inline-block;
		width: fit-content;

		@apply bg-neutral-600/25 border border-neutral-500 text-white px-2 rounded-lg rotate-[-10deg];
	}
}

/* offset every 2nd li to the left */
/* @media (900px <= width < 1200px) {
	ol li:nth-child(2n+1) {
		@apply -translate-x-1;
	}
	ol li:nth-child(2n) {
		@apply -translate-x-1;
	}
}
@media (width >= 1200px) {
	ol li:nth-child(2n+1) {
		@apply -translate-x-2;
	}
	ol li:nth-child(2n) {
		@apply translate-x-2;
	}
} */

form fieldset {
	display: flex;
	flex-direction: column;
	@apply pb-6;

	& label {
		@apply pb-2;
	}

	/* apply to label next to required inputs */
	&:has(input[required]) label::after,
	&:has(select[required]) label::after {
		content: "*";
		@apply text-red-500;
	}
	&:not(:has(input[required])):not(:has(select[required])) label::after {
		content: " (optional)";
		@apply text-sm text-neutral-400;
	}
}

/* style file browse input "Browse..." section */

input[type="file"]::file-selector-button {
	@apply font-bold pr-4;
}

input[type="file"],
select {
	@apply w-100;
}

input,
textarea,
select {
	@apply bg-neutral-800 border border-neutral-500 rounded-lg px-4 py-2;
}

select,
input[type="file"] {
	cursor: pointer;
}

details:hover:not([open]) {
	@apply bg-neutral-800;
}

.tix {
	@apply text-yellow-400 font-bold;
}

.prizes > div {
	@apply hover:scale-103 transition-transform;
}
.prizes > div:nth-child(2n) {
	@apply hover:rotate-2;
}
.prizes > div:nth-child(2n+1) {
	@apply hover:-rotate-2;
}